*{
  box-sizing: border-box;
}
.headerIcon{
  padding: 10px;
  width: 70px;
  height: 70px;
}
.movieimage {
  width: 20vw;
  z-index: -1;
  padding: 5px;
  border: solid rgb(90, 90, 90);
  background-color: rgba(0, 0, 0, 0.658);
}  

.movieimage:hover{
  transform: scale(1.01);
}
.movietitle{
  margin-bottom: 10px;
}
.textContainer{
  font-family: 'Roboto', sans-serif;
  font-family: small;
  display: inline-block;
  width: 60vw;
  margin-left: 20px;
  padding: 10px;
  border: solid rgb(90, 90, 90);
  background-color: rgba(0, 0, 0, 0.658);
  height: fit-content;
}

.contentContainer{
  margin: 10px;
  display: flex;
}


h2{
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-left: 9%;
}
